
<div class="card">
  <h1>what do you want to search</h1>
</div>
<div class="container">
  <h1>shipment search</h1>
  <form>

    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="order">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="shipment">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="first name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
    </div>
    <div class="form-group">
      <input type="phone" class="form-control" id="exampleInputPassword1" placeholder="Phone number">
    </div>
    <!-- <button type="submit" class="mt-4 main-btn">Submit</button> -->
  </form>

  <button type="button" class="btn btn-primary btn-sm">reset</button>
  <button type="button" (click)="getData()" class="btn btn-primary btn-sm">Search</button>
  
</div>