/* .mat-toolbar{
    background-color: black;
    color: white;
    
    
}
.right{
    padding-left: 55rem;
} */

 /* .navbar-brand{
    color: white;
} */
/* .navbar-text{
    color: white;  */
    /* padding-right: 3rem; */
    /* font-size: 15px; */
 /* }  */